n8n/backup/workflows/CP-MGMT-Logs-MCP-OpenAI.json
{
  "name": "CP-MGMT-Logs-MCP-OpenAI",
  "nodes": [
    {
      "parameters": {},
      "id": "0f949918-41fe-4476-a9e9-80b7dc2ba5d5",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        768,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "nNfAshAXNQ81bjc7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent with Check Point Logs MCP",
        "height": 527,
        "width": 1257
      },
      "id": "f804a093-96ac-4569-99b8-822539635f10",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        -64
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ae5df7ea-7076-40e7-92ef-fba327a5ab47",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        96
      ],
      "webhookId": "35bcabf8-caf6-4033-b66d-4658abbaa057"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a smart AI assistant. Always follow these rules:\n\n1. Start every run by calling \"List-CP-MGMT-MCP-Tools\". Do not execute yet.\n2. Show the available tool names.\n3. Use the best available tool name from step 1 in the tool MCP-Client.\n4. summarize the results you receive from check point after triggering the MCP-Client in the previous step."
        }
      },
      "id": "80b536fe-da82-4812-bffd-28154dd4b8c7",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        768,
        96
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "294f1078-2a67-47ca-85ee-e707fd6d6f37",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        896,
        320
      ],
      "id": "25d49ee0-2c62-480c-8f72-b9752cd0f349",
      "name": "MCP-Client",
      "credentials": {
        "mcpClientApi": {
          "id": "ID4ZrTbXs3O9CvfQ",
          "name": "CP-MCP-LOGS-SMS-ON-PREM"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1024,
        320
      ],
      "id": "1e408148-7877-45ef-9f9d-269d7cd64165",
      "name": "List-CP-MGMT-MCP-Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ID4ZrTbXs3O9CvfQ",
          "name": "CP-MCP-LOGS-SMS-ON-PREM"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        320
      ],
      "id": "04595ef4-f882-44b5-a8b6-a2e635fa0063",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OgH5XXvUCbAM9NJQ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP-Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List-CP-MGMT-MCP-Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80139f5d-8d99-46fd-8e75-2092934976c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "AdOxmUSifowjgaY6",
  "tags": []
}